/* styles/retro.css */

body.retro {
  background-color: #444; /* Another shade of dark gray */
  color: #ffcc00; /* Retro yellow text */
  font-family: 'Courier New', Courier, monospace; /* Retro font-family */
}

h1.retro {
  font-size: 24px; /* Retro font size */
  color: #ff66cc; /* Retro font color */
}

p.retro {
  font-size: 16px; /* Retro font size */
  color: #3399ff; /* Retro font color */
}
